{% load static %}

    <footer class="footer-area" style="background-image: url('assets/img/bg/2.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget widget">
                        <div class="about_us_widget">
                            <a href="/" class="footer-logo"> 
                                <img src="{% static 'assets/img/molux.png' %}" alt="footer logo">
                            </a>
                            <p>
                               Molux Tours is more than just a travel agency we're your strategic partner in discovering the world. 
                               With trusted supplier networks and a customer-first approach, we deliver tailored travel solutions that balance adventure, 
                               comfort, and value. Whether you're an individual traveler or a corporate team, we help you make smart travel decisions with long-lasting impact.
                            </p>
                            <ul class="social-icon">
                                <li>
                                    <a class="facebook" href="https://www.tiktok.com/@moluxtoursandtravel?is_from_webapp=1&sender_device=pc" target="_blank"><i class='bx bxl-tiktok'></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://x.com/MoluxTours" target="_blank"><i class='fa fa-twitter'></i></a>
                                </li>
                                <li>
                                    <a class="pinterest" href="https://www.instagram.com/moluxtoursandtravel" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget ">
                        <div class="widget-contact">
                            <h4 class="widget-title">Contact us</h4>
                            <p>
                                <i class="fa fa-map-marker"></i> 
                                <span>L3-10 Kisakye Business Center Ntinda</span>
                            </p>
                            <p class="location"> 
                                <i class="fa fa-envelope-o"></i>
                                <span>moluxtours25@gmail.com</span>
                            </p>
                            <p class="telephone">
                                <i class="fa fa-phone base-color"></i> 
                                <span>
                                    +185-731-237-23 / +256-777-070-444
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget widget">
                        <h4 class="widget-title">Quick Link</h4>
                        <ul class="widget_nav_menu viaje-go-top">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget">
                        <h4 class="widget-title">Instagram Gallery</h4>
                        <ul class="widget-instagram-feed">
                            <li><a href="#"><img src="assets/img/instagram/1.png" alt="img"></a></li>
                            <li><a href="#"><img src="assets/img/instagram/2.png" alt="img"></a></li>
                            <li><a href="#"><img src="assets/img/instagram/3.png" alt="img"></a></li>
                            <li><a href="#"><img src="assets/img/instagram/4.png" alt="img"></a></li>
                            <li><a href="#"><img src="assets/img/instagram/5.png" alt="img"></a></li>
                            <li><a href="#"><img src="assets/img/instagram/6.png" alt="img"></a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="copyright-inner">
            <div class="copyright-text">
                © Molux Tours & Travel 2025 All rights reserved. Powered with by <a href="#" target="_blank"><span>Ugacloud Services</span></a>
            </div>
        </div>
    </footer>